<a href="https://colab.research.google.com/github/bengaldr0gon/2024-intro-DA-code/blob/main/w02_3_python_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **리스트**

#***리스트 개요와 생성***

In [1]:
lst = [10, 20, 30]
print(lst, type(lst)) #배열 lst와 lst의 데이터 타입을 출력한다. 이때 print는 당연히 쉼표를 생략해출력.

[10, 20, 30] <class 'list'>

In [2]:
list(['java', 'python', 'R']) # list() 함수를 이용해 대괄호로 만든 리스트를 출력

['java', 'python', 'R']

In [ ]:
print(list(range(5))) #1~4로 이루어진 배열을 만들고 출력
print(list(range(1, 10, 2))) #1~10까지 간격을 2로 설정한 배열을 만들고 출력

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]

#***첨자 인덱싱과 슬라이싱***

In [ ]:
lst = [1, 3.92, 3 > 4, 'list'] # 리스트는 float, boolean, string 관계없이 저장가능하다.
print(lst[0], lst[2]) # 인덱스를 활용해 원하는 부분을 출력할 수 있음

1 False

In [ ]:
lst[2:4] # 슬라이싱으로도 참조 가능하다. 2~3까지의 첨자를 반환.

[False, 'list']

In [ ]:
print(lst[2:]) # 슬라이싱은 [start:end:step]으로 세부설정 가능하다. 설정하지않으면 기본적으로 [0:끝값:1]로 설정됨.
print(lst[:4])
print(lst[-1:-4:-1])

[False, 'list']
[1, 3.92, False, 'list']
['list', False, 3.92]

#***메소드 append() insert()***

In [ ]:
import math as m # import로 불러오고 as로 별칭을 만든다.
a = [m.pi, 30, 10 > 4, 'list', lambda x: x**3] #lambda 함수는 익명함수로 "f= lambda 변수:식" 과 같이 사용된다.
a.append('py')
a

[3.141592653589793, 30, True, 'list', <function __main__.<lambda>(x)>, 'py']

In [ ]:
def add2(x, y): # 함수 정의.
    return x + y # return은 print와 다르게 변수에 저장이 가능하다.

a.insert(1, add2) # a의 인덱스 1번에 add2() 함수를 삽입한다.
a[1](10, 20)

30

In [ ]:
a

[3.141592653589793,
 <function __main__.add2(x, y)>,
 30,
 True,
 'list',
 <function __main__.<lambda>(x)>,
 'py']

In [ ]:
a.remove(30)#list.remove 메소드를 통해 item을 삭제한다.

In [ ]:
a.pop() # pop은 마지막 요소를 제거하고 반환한다.(변수에 저장가능하다)

'py'

In [ ]:
a

[3.141592653589793,
 <function __main__.add2(x, y)>,
 True,
 'list',
 <function __main__.<lambda>(x)>]

#***리스트 컴프리헨션***

In [ ]:
my_list = [x for x in range(10)] # x에 0~9까지의 숫자를 넣어 리스트를 생성.
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[x for x in range(10) if x%2 == 1] #홀수인 경우에만 삽입.

[1, 3, 5, 7, 9]

In [ ]:
['even' if i % 2 == 0 else 'odd' for i in range(1,11)] # if else 조건문에 따라 even 과 odd 삽입.

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [ ]:
[[i for j in range(5)] for i in range(3)] # 중첩 반복문.

[[0, 0, 0, 0, 0], [1, 1, 1, 1, 1], [2, 2, 2, 2, 2]]

In [ ]:
[[j for j in range(i, i + 6)] for i in range(3)] # 반복이 끝날 때 마다 i값이 1씩 증가됨,

[[0, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [2, 3, 4, 5, 6, 7]]

## **사전**

#***사전 개요와 생성***

In [ ]:
mart = {'라면':1200, '음료수':1500, '과자':800} # 중괄호는 dict타입을 생성한다.
print(mart, type(mart))

{'라면': 1200, '음료수': 1500, '과자': 800} <class 'dict'>

In [ ]:
print(mart['라면']) #key값을 통해 value를 출력 가능하다.
print(mart['과자'])
print(mart['음료수'])

1200
800
1500

In [ ]:
data = {1: '일', 3.14: 2.71, (1, 2): '튜플', 'list': [1, 2, 3]} # dict 또한 여러 타입의 변수를 저장할 수 있다.
data

{1: '일', 3.14: 2.71, (1, 2): '튜플', 'list': [1, 2, 3]}

In [ ]:
data = {1: '일', 3.14: 2.71, [1, 2]: '리스트', 'list': [1, 2, 3]} #그러나 수정이 가능한 list, set, dict 는 키가 될 수 없다.

TypeError: unhashable type: 'list'

In [ ]:
f_cnt = dict((('apple', 2), ('banana', 5), ('orange', 3))) # dict(item)을 통해 사전을 만들 수 있다. 인자 item 은 list나 tuple이면 가능하다.
f_cnt

{'apple': 2, 'banana': 5, 'orange': 3}

In [ ]:
f_price = dict(apple=4000, banana=300, orange=2000) # equal로도 가능.
f_price

{'apple': 4000, 'banana': 300, 'orange': 2000}

In [ ]:
mart = {'라면':1200, '음료수':1500, '과자':800} # 이미 dict가 생성된 후에도 "dict명[key] = value" 로 추가 저장가능하다.
mart['삼각김밥'] = 1700
mart

{'라면': 1200, '음료수': 1500, '과자': 800, '삼각김밥': 1700}

In [ ]:
mart['과자'] = 900 # key를 통해 value값 수정도 가능하다.
mart

{'라면': 1200, '음료수': 1500, '과자': 900, '삼각김밥': 1700}

In [ ]:
mart.keys() # key 메소드를 통해 key만 따로 출력가능함.

dict_keys(['라면', '음료수', '과자', '삼각김밥'])

In [ ]:
mart.values() # 마찬가지로 value 메소드를 통해 value도 따로 출력가능.

dict_values([1200, 1500, 900, 1700])

In [ ]:
mart.items() # dict.items()로 키와 값의 쌍을 출력가능.

dict_items([('라면', 1200), ('음료수', 1500), ('과자', 900), ('삼각김밥', 1700)])

# ***튜플과 집합***

In [ ]:
# 튜플의 3가지 속성 immutable(수정X, 데이터 무결성 보장)/ 성능(리스트보다 메모리 사용이 적고, 읽기 속도가 빠름)/ 해시가능성 (딕셔너리의 키나 집합의 원소로 사용가능)
tp1 = 1, 2, 3 #튜플은 쉼표로 구분해서 생성가능하다.
tp2 = (10, 20, 30) # 일반적으로는 괄호를 통해서 생성
print(tp1, tp2)

(1, 2, 3) (10, 20, 30)

In [ ]:
tp3 = tuple((10, 20, 30)) # tuple()을 통해서도 생성가능하다. 인자로도 리스트나 튜플을 넣을 수 있음.
tp4 = tuple(['py', 'R'])
print(tp3, tp4)

(10, 20, 30) ('py', 'R')

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2 # 튜플자체는 수정 불가능하지만 연결은 가능하다.
concatenated_tuple

(1, 2, 3, 4, 5, 6)

#***집합 개요와 활용***

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear'} # 집합 set은 중복된 원소가 없는 순서가 없는 자료형이다.
basket

{'apple', 'orange', 'pear'}

In [ ]:
len(basket)

3

In [ ]:
print('grape' in basket) # 소속 연산자 in을 통해 원소가 집합안에 있는지 확인 가능하다.
print('apple' in basket)

False
True

In [ ]:
A = {1, 2, 3, 4} # 자료형 집합을 사용하여 합교차여 집합 모두 표현 가능하다.
B = {3, 4, 5, 6, 7}
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [ ]:
A =  {1, 2, 3, 4} # 집합 연산자로도 가능
B = {3, 4, 5, 6, 7}
print(A | B)
print(A & B)
print(A - B)
print(B - A)
print(A ^ B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear'}
basket.add('banana') # 집합은 수정가능하다.
basket

{'apple', 'banana', 'orange', 'pear'}

In [ ]:
myset = {0} # 수정가능한 list는 집합의 원소가 될 수 없다.
print(myset)
myset.add([1, 2])

{0}

TypeError: unhashable type: 'list'

In [ ]:
myset = {0} #튜플은 가능
myset.add((1, 2))
myset

{(1, 2), 0}

In [ ]:
myset.remove(0) # 삭제도 가능하다.
myset

{(1, 2)}

#***수정불가능 immutable과 함수 hash() id()***

In [ ]:
print(hash([1, 2, 3])) # hash가 무엇인지는 잘 모르겠으나 수정 가능한 dict, list, set은 hash()값을 가질 수 없다.

TypeError: unhashable type: 'list'

In [ ]:
print(hash({'one':1}))

TypeError: unhashable type: 'dict'

In [ ]:
print(hash('py'), hash((1, 2)))

604622097425189626 -3550055125485641917

In [ ]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [ ]:
x, y = 10, 10
print(id(x), id(y))

137359238283792 137359238283792